html {
    font-family: 'Raleway'
}
header {
    display:flex;
}
.maincontainer {
    display: flex;
    justify-content: center;
}
a {
    display: flex;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: bold;
    margin-left: 215px; 
}
a:hover {
    text-decoration: underline #2196f3;
}
    
.bother-1 {
    margin-right: 0;
    color: #2196f3;
}
.brother-2 {
    color: black;
    margin-left: 0;
}
.father {
    width: 1600px;
    height: 2228px;
    border: 1px solid black;
}
.secondcontainer {
    display: flex;
    margin-top: -45px;
    margin-left: 300px;
}
.secondcontainer a {
    color: black;
}
.secondcontainer a:nth-child(1) {
    margin-right: -100px;
}
.secondcontainer a:nth-child(2) {
    margin-right: -100px;
}
.secondcontainer a {
    margin-right: -100px;
}
.firstcontainer {
    font-size: 24px;
}
.thirdcontainer {
    display: flex;
    margin-top: -50px;
    margin-left: 900px;
}
.thirdcontainer a {
    color: #2196f3;
    margin-top: 30px;
}
.thirdcontainer a:hover {
    text-decoration: underline #2196f3;
}
.thirdcontainer p {
    color: #757575;
    margin-top: 30px;
    margin-left: 50px;
}
.grey {
    display: flex;
    border: 1px solid #2f303a;
    width: 1600px;
    height: 600px;
    background-color: #2f303a;
}
.grey div {
    margin-top: 200px;
    justify-content: center;
}
.grey p {
    justify-content: center;
    color: white;
    margin-left: 400px;
    font-size: 40px;
}
.grey a {
    justify-content: center;
    border: 1px solid #2196f3;
    background-color: #2196f3;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 680px;
    padding-top: 25px;
}
.flex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}
.flex div {
    justify-content: center;
    width: 300px;
}
.flex div:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}
.flex div:nth-child(3) {
    margin-right: 50px;
}
h1 {
    margin-top: 100px;
    margin-left: 650px;
    font-weight: bold;
    font-size: 36px;
}
.gold {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.gold img:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}
.special {
    margin-left: 680px;
}
#big {
    border: 1px solid grey;
    width: 1600px;
    height: 648px;
    background-color: gray;
    margin-top: 100px;
}
.secondbig {
    display: flex;
    justify-content: center;
}
.secondbig img {
    width: 260px;
    height: 270px;
}
.secondbig div:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}
.secondbig div:nth-child(3) {
    margin-right: 50px;
}
.secondbig div {
    width: 260px;
    height: 368px;
    border: 1px solid white;
    background-color: white;
}
.secondbig div p {
    margin-left: 70px;
    font-weight: bold;
}
.secondbig div p:hover {
    text-decoration: underline #2196f3;
}
.secondbig div #second {
    color: #757575;
}
footer div {
    border: 1px solid #2f303a;
    height: 100px;
    width: 1600px;
    background-color: #2f303a;
}
footer .footer {
    color: #757575;
}
.footer a .brother-2 {
    color: white;
}
#footer p:nth-child(1) {
    color: white;
}
#footer p {
    margin-top: -65px;
    margin-left: 50px;
    margin-right: 50px;
}
#footer p {
    color: #757575;
}
#footer {
    display: flex;
    justify-content: center;
}